@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap');

:root {
    --primary-color: #38bdf8;
    --primary-background: #f0f9ff;
    --medium-blue: #7dd3fc;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

button, a {
    cursor: pointer;
}

.container {
    min-height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    align-items: center;
    box-shadow: var(--shadow);
}

.logo {
    margin-left: 40px;
}

.login {
    background-color: var(--primary-color);
    border: solid 3px white;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    height: 30%;
    margin-right: 40px;
}

.library-section {
    background-color: var(--primary-background);
    padding: 50px;
    text-align: center;
    min-height: 100%;
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

footer a {
    color: white;
}

.book-card {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--medium-blue);
    justify-content: space-between;
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 10px;
}

.addBtn {
    background-color: var(--primary-background);
    color: black;
    font-weight: 800;
    border: none;
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;;
    background-color: var(--primary-color);
    padding: 30px;
    min-width: 40vh;
    min-height: 45vh;
    border-radius: 9px;
}

.form input {
    font-size: 18px;
    padding: 8px;
    border: solid 1px gray;
    border-radius: 8px;
    min-width: 80%;
}

.form button {
    font-size: 18px;
    padding: 8px;
    width: 240px;
    max-width: 45%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: black;
    z-index: 10;
    border-radius: 10px;
}


#overlay {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}